body{
    background:#FC766AFF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom: 30 px;
    background:#5B84B1FF;
    border-radius: 5px;
    box-shadow: 5px 9px #888888;
}

.assignment img{
    width:200px;
    padding:10px;
    margin:10px;
    border: 2px solid #184A45FF;
    margin-right:20px;
    border-radius: 5px;
}

h1{
    color: darkorchid;
    text-align:center;
}

a{
    text-decoration:none;
    color:#184A45FF;
}

.assignment a:hover{
    color:#FC766AFF;
}